html, body {
  overflow-x: hidden;
}

body {
  padding: 0;
  margin: 0;
  position: relative;
}

#MenuPresent{
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
  background-color: white;
  height: 50vh;
  width: 80vw;
  opacity: 0;
  transition: 0.5s;
}

.PresentButton{
  width: 33%;
  z-index: 10;
  opacity: 1;
  transition: 0.5s;
}

.Canvas{
  transition: 0.5s;
}

.CanvasBlur{
  filter: blur(8px);
}

.question{
  font-size: 4vw;
}

#upillustration{
  position: absolute;
  left: 0;
  width: 100vw;
  height: 50vw;
  z-index: 21;
  pointer-events: none;
}

#leftillustration{
  position: absolute;
  left:0;
  transform: translate(-55%,40%);
  width: 60vw;
  height: 120vw;
  z-index: 21;
  pointer-events: none;
}

#rightillustration{
  position: absolute;
  right:0;
  transform: translate(55%,40%);
  width: 60vw;
  height: 120vw;
  z-index: 21;
  pointer-events: none;
}
